name: github ci

on: 
    push: 
        branches: [main]
    pull_request: 
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v2
            - name: setup node
              uses: actions/setup-node@v2
              with:
                node-version: '22'
            - name: install dependencies
              run: npm install
            - name: run tests
              run: npm test

            - name: Build & push Docker image
              uses: mr-smithers-excellent/docker-build-push@v6
              with:
                image: johnsanusi/test-repo
                registry: docker.io
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}