name: github ci

on: 
    push: 
        branches: [main]
    pull_request: 
        branches: [main]

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
        steps:
            - uses: actions/checkout@v2
            - name: setup node
              uses: actions/setup-node@v2
              with:
                node-version: '22'
            - name: install dependencies
              run: npm install
            - name: run tests
              run: npm test
    publish:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            